body {
	background-color: black;
	font-family: 'VT323', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fdfdfd;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin:0;
}

img {
	max-width: 100%;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    color: #fdfdfd;
}

/* Paragraph & Typographic */
p, li, blockquote {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 20px;
}

li {
	list-style: none;
	line-height: 0;
}
ul {
	padding: 0;
	margin: 0 20px;
}
/* Links */
a {
    color: #fdfdfd;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
    color: #2883d1;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
h1 {
	font-size: 70px;
	margin: 0 30px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
    text-align: center;
}

.logo {
	background: rgba( 24, 24, 24, 0.7 );
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin: 50px 0;
}
.content {
	background: rgba( 24, 24, 24, 0.7 );
	max-width: 400px;
	margin: 20% auto 20px auto;
	border: 1px solid white;
	padding: 25px;
}
.twitter {
	display: block;
	margin: 60px;
}