* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	color: #666;
}
ul {
	padding-left: 15px;
}
hr {
	border: 1px solid #00efcb;
	margin: 2em 0;
}
a:link {
	color: #00afef;
	text-decoration: none;
}
a:visited,
a:hover {
	color: #0075f2;
	text-decoration: underline;
}
a:active {
	color: #00efcb;
}
p,
ul,
ol {
	line-height: 1.8;
	margin: 2em 0;
	position: relative;
}
h1,
h2,
h3 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 2em;
	line-height: 1.4;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased;
}
h3 {
	font-size: 24px;
	text-align: center;
}

.header {
	height: 130px;
	margin: 0 0 50px 0;
	background: #0075f2;
	background: -moz-linear-gradient(-30deg,  #0075f2 0%, #00afef 46%, #00efcb 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0075f2), color-stop(46%,#00afef), color-stop(100%,#00efcb));
	background: -webkit-linear-gradient(-30deg,  #0075f2 0%,#00afef 46%,#00efcb 100%);
	background: -o-linear-gradient(-30deg,  #0075f2 0%,#00afef 46%,#00efcb 100%);
	background: -ms-linear-gradient(-30deg,  #0075f2 0%,#00afef 46%,#00efcb 100%);
	background: linear-gradient(135deg,  #0075f2 0%,#00afef 46%,#00efcb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0075f2', endColorstr='#00efcb',GradientType=1 );
}
.header h1 {
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0;
	padding: 30px 0 0 0;
	color: white;
}
.header a {
	color: white !important;
}
.content {
	margin: 0 auto;
	width: 480px;
	max-width: 90%;
	letter-spacing: -1px;
}
h1 {
	text-align: center;
	font-weight: normal;
	font-size: 52px;
}

.footer {
	background: #f9f8f9;
	padding: 30px 0;
}
.footer img {
	float: left;
}
.footer h3 {
	clear: both;
	text-align: left;
	margin-top: 15px;
}
.footer aside,
.footer h3,
.footer nav {
	width: 500px;
	margin: 0 auto;
}